# ignore blend files
*.blend
*.blend[0-9]
*.pyc
*.prof
.vscode
*.zip
__pycache__
.pytest_cache
/__pycache__
MakeTile/.vscode/settings.json
.agents
.claude
plans
.sofa
.venv
CLAUDE.md
MakeTile\.vscode
MakeTile\.VSCodeCounter